In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
df1=pd.read_csv('/content/Final DataBase - In proximity to domestic water wells (3km).csv')
df2=pd.read_csv('/content/Final DataBase - Risky Condition.csv')

In [ ]:
# Checking the CSV file, default to chekcing first 5 rows.
df1.head()

,FID,FID_,ID,surfaceLoc,Feet_from,Feet_fro_1,Latitude,Longitude,Last_Inspe,First_Prod,Vulnerabil,Natural_Ga,Coal_mines,Water_well,Nit_Con,Arsenic_Co,BUFF_DIST,ORIG_FID
0,0.0,7,39-29702,M-15-25N-03W,1150 FSL,930 FWL,36.393833,-107.138168,2019-05-29,2007.0,102.0,No,No,Yes,NaN,NaN,3.0,7.0
1,1.0,63,45-26102,P-24-29N-13W,1055 FSL,805 FEL,36.707531,-108.151367,2021-04-07,2000.0,133.0,No,No,Yes,NaN,NaN,3.0,63.0
2,2.0,64,45-35172,F-01-29N-15W,1650 FNL,2260 FWL,36.758747,-108.369942,2021-12-08,2011.0,94.0,Yes,No,Yes,NaN,NaN,3.0,64.0
3,3.0,65,45-20753,O-35-29N-11W,790 FSL,1850 FEL,36.677513,-107.958550,2017-04-19,1992.0,94.0,Yes,No,Yes,NaN,NaN,3.0,65.0
4,4.0,66,45-20755,G-34-29N-11W,1850 FNL,1850 FEL,36.684692,-107.976250,2019-04-17,1992.0,94.0,Yes,No,Yes,NaN,NaN,3.0,66.0

In [ ]:
# Checking the unique ID number within the CSV file, there are 199 wells in total that intersect a domestic water well.
len(df1['ID'].unique())

199

In [ ]:
df2.head()

,ID,Last_Inspe,First_Prod,Runoff Amount,Well Liner Conditions,Vulnerabily Score,In proximity to water wells,Well Company Failure History,Operator,Well Type,Mineral Owner,True Vertical Depth,SurfaceCasingDepth,Latitude,Longitude
0,45-13164,NaN,1992,6.342519,Risky,82,No,No,[224717] BIYA OPERATORS INC.,Oil,Ute,1684,94,36.881313,-108.523781
1,45-13172,NaN,1992,6.342519,Risky,97,No,No,[224717] BIYA OPERATORS INC.,Oil,Ute,1586,111,36.877411,-108.514694
2,45-10403,NaN,1992,6.342519,Risky,102,No,No,[224717] BIYA OPERATORS INC.,Oil,Ute,1727,126,36.873833,-108.528221
3,45-13165,NaN,1992,6.342519,Risky,105,No,No,[224717] BIYA OPERATORS INC.,Oil,Ute,1590,115,36.874229,-108.518997
4,45-13173,NaN,1992,6.342519,Risky,90,No,No,[224717] BIYA OPERATORS INC.,Oil,Ute,1538,114,36.873894,-108.510109

In [ ]:
# Finding unique IDs within dataframe 2
len(df2['ID'].unique())

105

In [ ]:
df1.shape, df2.shape, df1.columns

((203, 18),
 (105, 15),
 Index(['FID', 'FID_', 'ID', 'surfaceLoc', 'Feet_from', 'Feet_fro_1',
        'Latitude', 'Longitude', 'Last_Inspe', 'First_Prod', 'Vulnerabil',
        'Natural_Ga', 'Coal_mines', 'Water_well', 'Nit_Con', 'Arsenic_Co',
        'BUFF_DIST', 'ORIG_FID'],
       dtype='object'))

In [ ]:
# Merge dataframes together
df3=df1.merge(df2,on='ID')
df3.columns

Index(['FID', 'FID_', 'ID', 'surfaceLoc', 'Feet_from', 'Feet_fro_1',
       'Latitude_x', 'Longitude_x', 'Last_Inspe_x', 'First_Prod_x',
       'Vulnerabil', 'Natural_Ga', 'Coal_mines', 'Water_well', 'Nit_Con',
       'Arsenic_Co', 'BUFF_DIST', 'ORIG_FID', 'Last_Inspe_y', 'First_Prod_y',
       'Runoff Amount', 'Well Liner Conditions', 'Vulnerabily Score',
       'In proximity to water wells', 'Well Company Failure History',
       'Operator', 'Well Type', 'Mineral Owner', 'True Vertical Depth',
       'SurfaceCasingDepth', 'Latitude_y', 'Longitude_y'],
      dtype='object')

In [ ]:
from google.colab import files
df3.to_csv('df3.csv') 
files.download('df3.csv')

In [ ]:
# Checking data frame dimensions
df3.info(),df3.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 0 to 8
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   FID                           9 non-null      float64
 1   FID_                          9 non-null      object
 2   ID                            9 non-null      object
 3   surfaceLoc                    9 non-null      object
 4   Feet_from                     9 non-null      object
 5   Feet_fro_1                    9 non-null      object
 6   Latitude_x                    9 non-null      float64
 7   Longitude_x                   9 non-null      float64
 8   Last_Inspe_x                  4 non-null      object
 9   First_Prod_x                  9 non-null      float64
 10  Vulnerabil                    9 non-null      float64
 11  Natural_Ga                    9 non-null      object
 12  Coal_mines                    9 non-null      object
 13  Water_well                    9 non-null      object
 14  Nit_Con                       0 non-null      float64
 15  Arsenic_Co                    0 non-null      float64
 16  BUFF_DIST                     9 non-null      float64
 17  ORIG_FID                      9 non-null      float64
 18  Last_Inspe_y                  4 non-null      object
 19  First_Prod_y                  9 non-null      int64
 20  Runoff Amount                 9 non-null      float64
 21  Well Liner Conditions         9 non-null      object
 22  Vulnerabily Score             9 non-null      int64
 23  In proximity to water wells   9 non-null      object
 24  Well Company Failure History  9 non-null      object
 25  Operator                      9 non-null      object
 26  Well Type                     9 non-null      object
 27  Mineral Owner                 9 non-null      object
 28  True Vertical Depth           9 non-null      int64
 29  SurfaceCasingDepth            9 non-null      int64
 30  Latitude_y                    9 non-null      float64
 31  Longitude_y                   9 non-null      float64
dtypes: float64(12), int64(4), object(16)
memory usage: 2.3+ KB

(None, (9, 32))

In [ ]:
# Sort the column ID in asecending order. (Dataframe 1)
df1['ID'].sort_values()[:20]

66     07-20500
67     07-20687
68     07-20688
160    31-05139
161    31-05140
119    31-05141
162    31-05145
163    31-05146
117    31-05147
118    31-05151
102    31-05171
81     31-05176
101    31-05179
88     31-05184
77     31-05185
91     31-05186
82     31-05189
80     31-05190
90     31-05192
104    31-05194
Name: ID, dtype: object

In [ ]:
# Sort the column ID in ascending order. (Dataframe 2)
df2['ID'].sort_values()[:20]

89    07-20082
94    07-20500
95    07-20687
96    07-20688
93    07-20709
91    07-20767
90    07-20773
92    07-20788
69    39-05210
70    39-05245
75    39-05250
72    39-05256
68    39-05257
71    39-05274
62    39-05347
74    39-05410
66    39-05412
73    39-05432
65    39-05436
63    39-05639
Name: ID, dtype: object

In [ ]:
# The list of well IDs that are considered to have risky surface well-liner conditons and intersect domestic drinking waters.
s1=set(df1['ID'])
s2=set(df2['ID'])
s2.intersection(s1)

{'07-20500',
 '07-20687',
 '07-20688',
 '39-22141',
 '39-23930',
 '45-26774',
 '45-26834',
 '45-26848',
 '45-27422'}

In [ ]:
# checking the attributes of the last 10 IDs of the abandoned well data frame
df3.iloc[-10:,:]

,FID,FID_,ID,surfaceLoc,Feet_from,Feet_fro_1,Latitude_x,Longitude_x,Last_Inspe_x,First_Prod_x,...,Vulnerabily Score,In proximity to water wells,Well Company Failure History,Operator,Well Type,Mineral Owner,True Vertical Depth,SurfaceCasingDepth,Latitude_y,Longitude_y
0,49.0,511,45-26848,J-33-31N-14W,1840 FSL,1770 FEL,36.855282,-108.311531,2004-10-06,1992.0,...,102,Yes,No,[271475] PRIORITY ENERGY LLC,Gas,Ute,5862,263,36.855282,-108.311531
1,50.0,512,45-26774,P-34-31N-14W,1090 FSL,790 FEL,36.853229,-108.290085,NaN,1992.0,...,94,Yes,No,[271475] PRIORITY ENERGY LLC,Gas,Ute,6100,253,36.853229,-108.290085
2,51.0,514,45-26834,P-27-31N-14W,995 FSL,1055 FEL,36.867435,-108.291038,NaN,1992.0,...,105,Yes,No,[271475] PRIORITY ENERGY LLC,Gas,Ute,5860,258,36.867435,-108.291038
3,52.0,515,45-27422,I-28-31N-14W,1550 FSL,810 FEL,36.868961,-108.308250,NaN,1992.0,...,105,Yes,No,[271475] PRIORITY ENERGY LLC,Gas,Ute,5297,275,36.868961,-108.308250
4,66.0,659,07-20500,P-28-31N-17E,993 FSL,778 FEL,36.888165,-105.137054,NaN,2004.0,...,90,Yes,Yes,"[328741] Wapiti Operating, LLC",Gas,Private,1615,0,36.888165,-105.137054
5,67.0,660,07-20687,O-03-30N-17E,1192 FSL,1686 FEL,36.859695,-105.122108,NaN,2008.0,...,74,Yes,Yes,"[328741] Wapiti Operating, LLC",Gas,Private,4009,0,36.859695,-105.122108
6,68.0,661,07-20688,I-02-30N-17E,2413 FNL,101 FEL,36.864307,-105.098694,2006-07-05,2006.0,...,75,Yes,Yes,"[328741] Wapiti Operating, LLC",Gas,Private,1989,0,36.864307,-105.098694
7,73.0,677,39-23930,C-03-24N-04W,645 FNL,2225 FWL,36.347900,-107.245890,2009-03-25,1992.0,...,78,Yes,Yes,[143199] ENERVEST OPERATING L.L.C.,Oil,Jicarilla,7690,394,36.347900,-107.245890
8,75.0,679,39-22141,F-23-25N-04W,1710 FNL,1760 FWL,36.387730,-107.224860,2007-10-02,1992.0,...,78,Yes,Yes,[143199] ENERVEST OPERATING L.L.C.,Oil,Jicarilla,8105,333,36.387730,-107.224860

In [ ]:
# All wells are associated with an ID
np.mean(df3['ID'].isna())

0.0

In [ ]:
df=pd.read_csv('/content/Final DataBase - Well (1).csv')

In [ ]:
df.head()

,ID,Last_Inspetion,First_Production,In proximity to all water related wells (3km),Seismic Induced Zone,Runoff Amount,Well Liner Conditions,Vulnerability Score,Nitrate Concentration,Arsenic Concentration >10 Prob.,...,Well Company Failure History,Operator,Well Type,Mineral Owner,True Vertical Depth (weak),SurfaceCasingDepth,In proximity to coal mines,In proximity to natural gas processing plants,Latitude,Longitude
0,45-20225,2020,1992,No,No,5.27559,NaN,130,2,0.189231,...,No,[25872] ACTION OIL CO INC,Oil,Navajo,1065,10,No,No,36.841301,-108.647392
1,45-09911,2020,1992,No,No,5.27559,NaN,130,2,0.189231,...,No,[25872] ACTION OIL CO INC,Oil,Navajo,99999,0,No,No,36.840668,-108.647957
2,45-20209,2020,1992,No,No,5.27559,NaN,130,2,0.185706,...,No,[25872] ACTION OIL CO INC,Oil,Navajo,1077,10,No,No,36.841080,-108.646202
3,45-21834,2020,1999,No,No,5.27559,NaN,127,1,0.242961,...,No,[25872] ACTION OIL CO INC,Oil,Navajo,1070,30,No,No,36.844471,-108.635536
4,45-21842,2020,1992,No,No,5.27559,NaN,127,1,0.242961,...,No,[25872] ACTION OIL CO INC,Oil,Navajo,1074,30,No,No,36.845295,-108.635544

In [ ]:
# Function used to find number of wells within each predicator (note last_inspection is string); Change variable name and number to see number of wells that fit each category.
df[df['SurfaceCasingDepth']<=2500].shape[0]

683